@marcom:registry=https://artifacts.apple.com/api/npm/marcomnpm-release-local/
//artifacts.apple.com/api/npm/marcomnpm-release-local/:_password=QVA0bXJDVzd4VHdMdUVSNEhZR21EdnNKRmlQ
//artifacts.apple.com/api/npm/marcomnpm-release-local/:username=qun_ma
//artifacts.apple.com/api/npm/marcomnpm-release-local/:email=qun_ma@apple.com
//artifacts.apple.com/api/npm/marcomnpm-release-local/:always-auth=true
