<!DOCTYPE html>
<html ng-app="edel">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <script src="scripts/util.js"></script>
    <script src="scripts/config.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <!--<script src="bower_components/angular-animate/angular-animate.min.js"></script>-->
    <script src="scripts/service.js"></script>
    <script src="scripts/main.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="lib/d3.v3.min.js"></script>
    <script src="scripts/draw.js"></script>
    <title>Lisa</title>
    <link rel="stylesheet" href="styles/main.css"/>
</head>
<body>
<div class="container-fluid">

    <div class="helper" ng-controller="assistantCtrl">
        <div class="row">
            <img ng-src="images/thumb/{{thumb}}.png" alt="Assistant's Face" class="thumbnail helper_thumb col-sm-3 col-sm-offset-1 pull-right" ng-click="tap()" />
            <div class="panel col-sm-8 pull-right" ng-show="words">
                <div class="panel-body" compile="words">
                    <!--{{words}}-->
                </div>
            </div>
        </div>
    </div>

    <!--<div ng-view></div>-->

    <div class="cli" ng-controller="cliCtrl">
        <div class="row">
            <div class="col-sm-12">
                <div class="panel">
                    <div class="panel-body cli_panel">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="what you wanna say" ng-model="words">
                        <span class="input-group-btn">
                            <a class="btn btn-success" ng-click="say()">Say</a>
                        </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>