<!DOCTYPE html>
<html ng-app="edel">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta charset="UTF-8">
    <script src="scripts/util.js"></script>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="scripts/service.js"></script>
    <script src="scripts/main.js"></script>
    <title>个人工作台</title>
    <style>
        body {padding-top: 70px;}
        .panel-body-fix {
            height : 200px;
            overflow: scroll;
        }
        .progress {
            margin-bottom: 0;
        }
        .img-border {
            /*border:1px solid #666;*/
            /*box-shadow: 3px 3px #bbb;*/
        }
    </style>
</head>
<body>
<div class="container-fluid">
    <nav class="navbar navbar-default navbar-fixed-top" ng-controller="navCtrl">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Edel</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-class="{'active' : active == 0}" ng-click="setActive(0)"><a href="#/">首页</a></li>
                    <li ng-class="{'active' : active == 1}" ng-click="setActive(1)"><a href="#/file">文件</a></li>
                    <li ng-class="{'active' : active == 2}" ng-click="setActive(2)"><a href="#/image">图册</a></li>
                    <li ng-class="{'active' : active == 3}" ng-click="setActive(3)"><a href="#/todo">待办</a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    <div ng-view></div>
</div>
</body>
</html>