<div class="row">
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item active">可以吃什么</li>
            <li class="list-group-item" ng-repeat="o in options" ng-click="ban(o)" ng-class="{'disabled':(banList.indexOf(o) != -1)}">
                {{o}}
                <a class="close" aria-label="Close" ng-click="removeOption($index)"><span aria-hidden="true">&times;</span></a>
            </li>
            <li class="list-group-item list-group-item-info">
                <span ng-hide="adding" ng-click="adding = true">新增选项</span>
                <div class="input-group" ng-show="adding">
                    <input type="text" class="form-control" placeholder="新的选项" ng-model="newOption">
                    <span class="input-group-btn">
                        <a class="btn btn-success" ng-click="addOption()">确认</a>
                    </span>
                </div>
            </li>
        </ul>
        <a class="btn btn-primary" ng-click="getOption()">手气不错</a>
    </div>
    <div class="col-sm-4">
        <ul class="list-group">
            <li class="list-group-item active">这周吃了什么</li>
            <li class="list-group-item" ng-repeat="w in weekList" ng-class="{'list-group-item-success':$index == d - 1}">
                <span style="width: 3em; display: inline-block;">{{w}}</span>
                :
                <span style="padding-left: 1em">{{resList[$index] || ""}}</span>
            </li>
        </ul>
    </div>
</div>