<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        <%= title %>
    </title>
    <style>
        .red {
            color: red;
        }

        .ext-thumb {
            width: 60px;
            height: 60px
        }

        .metaStyle > tr > td > div {
            width: 200px;
            height: 200px;
            word-wrap: break-word
        }
    </style>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body class="container-fluid">
<table class="table table-bordered table-striped table-hover">
    <caption align="top">V-Path Report</caption>
    <tr class="metaStyle">
    <tr>

        <th>Geo-Vpath</th>
        <th>US-Vpath</th>
    </tr>
   <%console.log(content)%>
    <% for(var i = 0; i < content.length; i++) { %>
    <tr>
        <td colspan="3">
            <%= content[i]['url'] %>
        </td> </tr>
    <% let arrlen ="";%>
   <% if (content[i]['origin'].length > content[i]['us'].length) {
    arrlen = content[i]['origin'].length;

    } else {
    arrlen = content[i]['us'].length;
    } %>

    <%for (let j = 0; j < arrlen; j++) {%>
       <tr>
          <td <%if (content[i]['us'][j] !== content[i]['origin'][j]){ %>
                  class="red" <%}%> >
              <%= content[i]['origin'][j]%></td>
           <td><%= content[i]['us'][j]%></td>
       </tr>
    <% }} %>
    </tbody>
</table>
</body>
</html>