body {padding-top: 70px;
    background-color: #B0DCE9;}
.panel-body-fix {
    height : 200px;
    overflow: scroll;
}
.progress {
    margin-bottom: 0;
}
.img-border {
    /*border:1px solid #666;*/
    /*box-shadow: 3px 3px #bbb;*/
}
.row-inner > div {
    padding : 0;
}
.row-outer {
    overflow-x: scroll;
    /*white-space: nowrap;*/
}
.row-inner {
}
.list-fix {
    width : 200px;
    display: inline-block;
    float: left;
}
#userBar span {
    cursor: pointer;
    text-decoration: underline;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

/*.x.axis path {*/
/*display: none;*/
/*}*/

.line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.nav li {
    cursor: pointer;
}

.helper {
    position: fixed;
    right:20px;
    top: 10px;
    width:50%;
}
.cli .panel {
    background-color: rgba(255, 255, 255, 0.4);
}

.helper_thumb {
    height: 10em;
    width:9em;
}
.helper_words {
    padding-top:1em;
    font-size: 120%;
}

.cli {
    position: fixed;
    right: 50px;
    left: 50px;
    bottom: 10px;
}