<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>WeChat Helper</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.css"/>
    <link href="../styles/dashboard.css" rel="stylesheet">

    <style>
        .red {
            color : red;
        }
    </style>
</head>

<body class="container-fluid">

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">QA Test Platform</a>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li><a href="../index.html">Overview <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="#">Translation Helper</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">WeChat Helper</h2>
            <div id="trans" class="row">
                <div class="col-md-4">
                    <p>
                        URL Import(.txt only)
                    </p>
                    <div class="input-group">
                        <input class="form-control" type="file" id="fileInput">

                        <span class="input-group-btn">
                <input type="button" class="btn btn-primary" value="Import" v-on:click="importTxt"/>
            </span>
                    </div>

                    <p>URL Input</p>
                    <p>
                        <textarea rows="5" id="urls" v-model="urls" class="form-control"></textarea>
                    </p>

                    <button v-on:click="quest" class="btn btn-primary">Query</button>
                    <button v-on:click="clear" class="btn btn-primary">Clear</button>
                </div>


                <div class="col-md-8">
                    <p>
                        <label>
                            <input type="radio" name="optionsRadios" id="rdExcel" value="excel" checked>
                            Excel
                        </label>
                        <label>
                            <input type="radio" name="optionsRadios" id="rdHTML" value="html">
                            HTML
                        </label>
                    </p>
                    <p>
                        <button v-on:click="getExcel" class="btn btn-primary">Export</button>
                        <a v-bind:href="excelUrl" target="_blank">{{excelName}}</a>
                    </p>

                    <table class="table table-striped table-bordered">
                        <tr>
                            <th>URL</th>
                            <th>Title</th>
                            <th>WeChat Img</th>
                            <th>WeChat URL</th>

                        </tr>
                        <tr v-for="item in arr">
                            <td><a v-bind:href="item.url">{{item.url}}</a></td>
                            <td>{{item.title}}</td>
                            <td><img v-bind:src="item.wechaturl" height="60" width="60"><br>
                                Width:{{item.obj1.width}}.Hight:{{item.obj1.height}}</td>
                             <td> URL:{{item.wechaturl}}<br></td>


                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../node_modules/vue/dist/vue.js"></script>
<script src="../../node_modules/jquery/dist/jquery.js"></script>
<script>
    var app = new Vue({
        el: '#trans',
        data: {
            arr: [],
            urls: "",
            excelUrl: "",
            excelName: ""
        },
        methods: {
            quest: function () {
                if(this.urls.length > 5){
                    var that = this;
                    $.post('/api/wechat', {urls: this.urls}, function (data) {
                        that.arr = data;
                    });
                }else{
                    console.log("null");
                }
            },
            getExcel: function () {
                if(this.arr.length > 0){
                    var that = this;
                    $.post('/api/wechat2xls', {xls: JSON.stringify(this.arr), type: document.querySelector("input[name=optionsRadios]:checked").value}, function (data) {
                        console.log(data);
                        that.excelName = data;
                        that.excelUrl = `../data/${data}`;
                    });
                }else{
                    console.log('cant');
                }
            },
            importTxt: function () {
                var that = this;
                var fileInput = document.querySelector("#fileInput");
                if(fileInput.files.length >= 1){
                    var file = document.querySelector("#fileInput").files[0];
                    var reader = new FileReader();
                    reader.onload = function () {
                        console.log(this.result);
                        that.urls += this.result;
                        fileInput.value = "";
                    };
                    reader.readAsText(file);
                }
            },
            clear:function() {
                $("#urls").val('');
            }
        }
    });
</script>
</body>
</html>